section > ul > li:nth-child(5){
  color:grey;
}
section > ul > li:nth-child(4){
 color: rebeccapurple;
}
section > ul > li:nth-child(2){
  color:red;
}
section > ul > li:nth-child(3){
  color:green;
}
section > ul > li:nth-child(1){
 color: orange;
}

