@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

p {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8rem;
  padding: 20px 0;
}

.first-paragraph {
  margin: 0 auto;
  width: 80%;
}

.banner,
.about figcaption,
h1,
h2,
h3,
h4 {
  font-family: 'Bellota', cursive;
  color: #473452;
  padding: 20px 0;
}

h2 {
  font-size: 2.625rem;
}

h1 {
  font-size: 3.125rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

section {
  min-height: 50vh;
  padding: 60px 10px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visibility {
  display: block !important;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.hidden {
  display: none !important;
}

.show-section {
  opacity: 1 !important;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 992px) {
  .first-paragraph {
    width: 100%;
  }
}

@media (max-width: 576px) {
  section {
    padding: 30px 10px;
  }
  h2 {
    font-size: 2rem;
    margin: 0px 0;
    padding: 0;
  }
}

header {
  min-height: 70vh;
  position: relative;
}

header .nav-wrapper {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1;
}

header nav {
  display: block;
  top: 0;
  width: 100%;
  background-color: #fff;
  max-width: 1140px;
  margin: 0 auto;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}

header .logo-nav {
  margin-top: 10px;
  width: 80px;
  padding-left: 0px;
  margin-right: 50px;
}

header .logo {
  display: none;
  position: absolute;
  margin-top: 10px;
  width: 80px;
  padding-left: 20px;
  margin-right: 50px;
}

header .bg-image {
  position: absolute;
  top: 400px;
  left: -55px;
  width: 11%;
}

header .bg-image-right {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 2;
  width: 40%;
}

header .bg-image-right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

header nav ul li {
  list-style: none;
  text-transform: uppercase;
  height: 50px;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.06rem;
}

header nav ul li a {
  text-align: center;
  display: block;
  color: #473452;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #1ba4ce;
}

@media (max-width: 1200px) {
  header .banner .banner-content {
    padding: 20px 10px;
  }
}

@media (max-width: 992px) {
  header {
    height: 50vh;
    margin-bottom: 50px;
  }
  header .hamburger {
    display: block;
  }
  header nav {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    position: absolute;
    background-color: #1ba4ce;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    height: auto;
    right: 0px;
    padding: 30px 0px;
    -webkit-box-shadow: 0 0 30px -10px #555;
            box-shadow: 0 0 30px -10px #555;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 100%;
  }
  header nav ul li {
    width: 100%;
  }
  header nav ul li a {
    text-align: right;
    color: #fff;
    line-height: 50px;
    -webkit-transition: margin 0.5s;
    transition: margin 0.5s;
  }
  header nav ul li a:hover {
    margin-right: 15px;
    color: #fff;
  }
  header .logo {
    display: block;
  }
  header .logo-nav {
    display: none;
  }
  header nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .bg-image-right {
    display: none;
  }
  header .banner .banner-content {
    text-align: center;
    width: 100%;
  }
  header .banner .banner-content p {
    text-align: center;
    width: 100%;
    padding: 10px 50px;
  }
}

.banner p:first-child {
  padding: 32px 0;
  color: #555;
}

.banner .banner-content {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 55%;
  min-width: 320px;
  padding: 0 0px;
  max-height: 350px;
}

.banner .banner-content p {
  width: 80%;
  color: #555;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 20px 0;
}

.banner .banner-content a:last-child {
  color: #555;
}

.banner h1 {
  color: #1e2528;
  margin: 0;
}

.banner .play-icon {
  border: 1px solid #473452;
  border-radius: 50%;
  color: #473452;
  font-size: 1rem;
  padding: 14px;
  margin-right: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.banner .play-icon:hover,
.banner a:hover .play-icon {
  background-color: #1ba4ce;
  color: #fff;
  border-color: #fff;
}

@media (max-width: 576px) {
  header .banner .banner-content {
    padding-bottom: 10px;
  }
  header .banner .banner-content p {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }
}

.about {
  text-align: center;
}

.about figure {
  width: 150px;
  margin: 0 auto;
}

.about figure img {
  max-width: 50%;
}

.about figcaption {
  padding: 32px 0;
}

.about p {
  margin-bottom: 40px;
}

.contact {
  background-color: #1ba4ce;
  color: #fff;
  text-align: center;
}

.contact h2 {
  color: #fff;
}

.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact-form address {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 50px;
}

.contact .contact-form address p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.contact .contact-form address img {
  width: 25px;
  height: 25px;
  margin: 5px 20px;
}

.contact .contact-form form {
  height: 100%;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-form form button {
  font-weight: 700;
  margin: 40px 0px;
  width: 150px;
}

@media (max-width: 992px) {
  .contact .contact-form {
    min-width: 200px;
    padding: 0;
  }
  .contact .contact-form address {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
    margin-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .contact-form address p {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding-right: 0;
  }
  .contact .contact-form form {
    margin: 0 auto;
    width: 70%;
  }
  .contact .contact-form form button {
    margin: 40px auto;
    width: 200px;
  }
}

@media (max-width: 576px) {
  .contact .contact-form address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contact-form address p {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contact .contact-form form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .s-item {
  position: relative;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  max-height: 350px;
}

.service .s-item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service .s-item .s-item-hover {
  opacity: 0;
}

.service .s-item .s-item-hover > img {
  height: 30px;
}

.service .s-item:hover .s-item-hover {
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1ba4ce;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service .s-item:hover .s-item-hover > * {
  color: #fff;
}

@media (max-width: 992px) {
  .service {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service .s-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .service {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service .s-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.procedures {
  text-align: center;
}

.procedures p:first-child {
  margin: 0 auto;
  width: 70%;
}

.procedures .procedure-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.procedures .procedure-items .p-item {
  -webkit-box-shadow: 0 0 30px -15px #555;
          box-shadow: 0 0 30px -15px #555;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
  padding-bottom: 50px;
}

.procedures .procedure-items .p-item p {
  padding: 0px 10px 0 10px;
  margin-bottom: 30px;
}

.procedures .procedure-items .p-item img {
  padding: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .procedures .procedure-items .p-item {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin-bottom: 50px;
  }
}

.team {
  text-align: center;
}

.team .team-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .team-items .t-item {
  position: relative;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 30px 10px;
  padding-bottom: 50px;
}

.team .team-items .t-item .team-social {
  visibility: hidden;
}

.team .team-items .t-item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .team-items .t-item:hover .team-social {
  visibility: visible;
  bottom: 8px;
}

.team .team-items .t-item:hover .team-info {
  -webkit-box-shadow: 0 0 30px -15px #555;
          box-shadow: 0 0 30px -15px #555;
  bottom: 0;
}

.team .team-items .t-item .team-info {
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 85%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  padding: 20px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.team .team-items .t-item .team-info h4 {
  margin: 0;
  padding: 0;
}

.team .team-items .t-item .team-info p {
  margin: 0;
  padding: 5px 0 20px 0;
}

@media (max-width: 768px) {
  .team .team-items .t-item {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin-bottom: 50px;
    margin-bottom: 0px;
  }
}

.appointment {
  background-color: #1ba4ce;
  position: relative;
}

.appointment .appointment-container {
  max-width: 1140px;
  margin: 0 auto;
}

.appointment .appointment-container .appointment-img {
  position: absolute;
  left: 0;
  height: 100%;
  background-image: url(../img/contact-bg.jpg);
  background-position: center;
  background-size: cover;
  width: 40%;
}

.appointment .appointment-container .appointment-form {
  min-width: 320px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0 60px 20px;
  margin-left: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appointment .appointment-container .appointment-form button {
  font-weight: 700;
  margin: 40px 0px;
}

.appointment .appointment-message-info {
  color: red;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: none;
  text-align: center;
  background-color: #fff;
  padding: 5px 10px;
}

@media (max-width: 992px) {
  .appointment .appointment-container .appointment-form {
    padding: 50px 10%;
    margin-left: 0;
    width: 100%;
  }
  .appointment .appointment-container .appointment-form > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .appointment .appointment-container .appointment-form button {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 50px auto;
  }
  .appointment .appointment-container .appointment-img {
    display: none;
  }
}

@media (max-width: 576px) {
  .appointment-message-info {
    max-width: 300px;
    font-size: 0.85rem;
  }
}

.blog {
  text-align: center;
}

.blog p:first-child {
  margin: 0 auto;
  width: 70%;
}

.blog .blog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .blog-items h4 {
  margin: 0;
  padding: 0;
}

.blog .blog-items .b-item {
  -webkit-box-shadow: 0 0 30px -15px #555;
          box-shadow: 0 0 30px -15px #555;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
  padding-bottom: 50px;
}

.blog .blog-items .b-item p {
  padding: 0px 10px 0 10px;
  margin-bottom: 30px;
}

.blog .blog-items .b-item .b-time {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.blog .blog-items .b-item img {
  padding: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .blog .blog-items .b-item {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin-bottom: 50px;
  }
}

footer {
  text-align: center;
  padding: 50px 10px;
}

footer img {
  max-width: 100px;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

footer nav ul li {
  padding: 5px 15px;
  list-style: none;
}

footer nav ul li a {
  color: #473452;
}

@media (max-width: 576px) {
  footer {
    padding-right: 50px 0;
  }
  footer nav ul {
    margin: 0;
    padding: 0;
  }
  footer nav ul li {
    padding: 15px 5px;
  }
}

.btn {
  min-width: 170px;
  background-color: #1ba4ce;
  color: #fff;
  padding: 15px 33px;
  text-decoration: none;
  outline: none;
  line-height: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-rectangle {
  margin-right: 20px;
  text-transform: capitalize;
  border: 1px solid transparent;
}

.btn-rectangle i {
  margin-left: 10px;
}

.btn-rectangle:hover {
  background-color: #fff;
  color: #1ba4ce;
  border: 1px solid #1ba4ce;
}

.btn-rounded {
  border-radius: 50px;
  padding: 15px 33px;
  border: 1px solid transparent;
}

.btn-rounded:hover {
  background-color: #fff;
  color: #1ba4ce;
  border: 1px solid #1ba4ce;
}

.btn-dark {
  background-color: #555;
  color: #fff;
}

.btn-dark:hover {
  background-color: #fff;
  color: #555;
  border: 1px solid #555;
}

.btn-negative {
  color: #473452;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-negative:hover {
  background-color: #1ba4ce;
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 576px) {
  .btn {
    min-width: 100%;
  }
  .btn-rectangle {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.social-icon {
  color: #fff;
  font-size: 1.1rem;
  margin: 10px;
}

.social-icon i {
  border: 1px solid #555;
  background-color: #fff;
  color: #555;
  border-radius: 50%;
  padding: 0.3em;
  line-height: 1.4rem;
  height: 1.8em;
  width: 1.8em;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-icon i:hover {
  background-color: #1ba4ce;
  border: 1px solid #1ba4ce;
  color: #fff;
}

textarea {
  text-transform: uppercase;
  width: 100%;
  outline: none;
  background-color: #1ba4ce;
  color: #fff;
  margin: 0 auto;
  padding: 15px;
  border: 0;
  border-bottom: 1px solid #fff;
  text-align: left;
}

textarea::-webkit-input-placeholder {
  color: #fff;
}

textarea:-ms-input-placeholder {
  color: #fff;
}

textarea::-ms-input-placeholder {
  color: #fff;
}

textarea::placeholder {
  color: #fff;
}

input,
select {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 15px;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: #1ba4ce;
  color: #fff;
  outline: none;
  text-transform: uppercase;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #fff;
}

input:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #fff;
}

input::-ms-input-placeholder,
select::-ms-input-placeholder {
  color: #fff;
}

input::placeholder,
select::placeholder {
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #1ba4ce inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.hamburger,
.hamburger-close {
  top: 20px;
  right: 0;
  position: fixed;
  display: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 10;
  color: #555;
  font-size: 1.6rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #555;
}

.hamburger-close {
  color: #fff;
  display: block;
}

.error {
  border-bottom: 1px solid red;
}
/*# sourceMappingURL=main.css.map */