body {
	font-family: 'Roboto', sans-serif;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid rgba(192, 192, 192, 0.479);
	padding: 50px;
	border-radius: 5px;
}

select {
	display: none;
}

#ulFruits,
#ulColors {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 170px;
	max-width: 300px;
	width: 200px;
	padding-inline-start: 0;
	transform-origin: top;
	border: 1px solid rgba(192, 192, 192, 0.5);
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-block-start: 0;
	background-color: rgb(255, 255, 255);
}

#ulFruits>li,
#ulColors>li {
	cursor: pointer;
	list-style: none;
	padding: 5px 20px;
	z-index: 2;
	border-bottom: 1px solid rgba(192, 192, 192, 0.459);
	/* box-shadow: 0 0 1px #000; */
}

#ulFruits>li:hover,
#ulColors>li:hover {
	background-color: rgba(145, 145, 145);
	transition: 0.15s ease-in;
}

#selectedItemFruits,
#selectedItemColors {
	z-index: 1;
	display: block;
	border: 1px solid rgba(192, 192, 192, 0.5);
	cursor: pointer;
	text-align: center;
}

.hide {
	transform: scaleY(0);
	transition: 0.2s;
}

.label {
	font-size: 14px;
	padding: 2px 10px;
	min-width: 80px;
}

#fieldset {
	display: flex;
	height: 30px;
}

button {
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 5px;
	border: 0;
	outline: none;
	background-color: rgb(0, 0, 0);
	color: #fff;
}