textarea {
  text-transform: uppercase;
  width: 100%;
  outline: none;
  background-color: $primary;
  color: $light;
  margin: 0 auto;
  padding: 15px;
  border: 0;
  border-bottom: 1px solid $light;
  text-align: left;

  &::placeholder {
    color: $light;
  }
}

input,
select {
  flex-basis: 40%;
  padding: 15px;
  border: 0;
  border-bottom: 1px solid $light;
  background-color: $primary;
  color: $light;
  outline: none;
  text-transform: uppercase;

  &::placeholder {
    color: $light;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 1px solid green;
  -webkit-text-fill-color: $light;
  -webkit-box-shadow: 0 0 0px 1000px $primary inset;
  transition: background-color 5000s ease-in-out 0s;

}