:root {
  --max-width: 1140px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* global */
body,
html {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 16px;
  ;
}

#container {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
  z-index: 1;
  position: relative;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  width: 80%;
}

.diamond {
  background-color: #e5e5e5;
  transform: skewX(-45deg);
}

/* left triangle */
#svg-left-triangle {
  max-width: var(--max-width);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: lewo 0.4s ease-in;
  /* height: 1000vh; */
}

#left-triangle {
  border: 1px solid red;
  height: 100vh;
  position: relative;
  color: #2c2c2c;

}

#left-triangle header {
  position: absolute;
  text-transform: uppercase;
  width: 40%;
  top: 25%;
  left: 15%;

}

#left-triangle .diamond {
  position: absolute;
  top: 30%;
  right: 250px;
  width: 200px;
  height: 100px;
}

#left-triangle nav ul {
  position: absolute;
  top: -20px;
  right: 80px;
  list-style: none;
  transform: rotate(-90deg);
}

#left-triangle nav ul li {
  /* border: 1px solid red; */
  width: 220px;
  padding: 5px 20px;
  backface-visibility: hidden;
  font-weight: 500;
}

#left-triangle nav ul li a {
  transform: skewY(45deg);
  display: block;
  text-decoration: none;
  /* transform: skew(0deg); */
}

/* right triangle */
#svg2 {
  max-width: 1140px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  /* height: 1000vh; */
}

@keyframes lewo {
  0% {
    transform: translateX(-1000px) rotate(90deg);
    ;
  }

  100% {
    transform: translateX(0px) rotate(0);
    opacity: 1;
  }
}