label {
  font-weight: bold;
}
label > span {
  display: block;
  letter-spacing: 2px;;
  text-transform: uppercase;
  font-size: 12px;;
  padding: 5px;;
}
button {
  border:0;
  border-radius: 15px;;
  background-color: black;
  color:white;
  padding:5px 10px;
  margin-top: 10px;;
  cursor: pointer;
}

p:first-child{
  font-size: 25px;
}

p {
  font-size: 16px;
  text-transform: uppercase;
}