body {
  background-color: teal;
}
input[type=checkbox] {
  position: absolute;
  opacity:0;
  cursor: pointer;
}

.lbl-checkbox .span-checkbox {
  position: absolute;
  top:0;
  left:0;
  width:24px;
  height:24px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #fff;
}

.lbl-checkbox .span-checkbox::after {
content: "";
position: absolute;
left:12px;
top:12px;
height: 0;
width: 0;
border-radius: 5px;
border:solid #009bff;
border-width: 0 3px 3px 0;
transform: rotate(0deg) scale(0);
opacity: 1;
}

.lbl-checkbox input:checked ~ .span-checkbox {
  transform: rotate(45deg) scale(1);
  background-color: rgb(255, 255, 255);
  opacity: 1;
  left:8px;
  top:3px;
  width: 6px;
  height: 12px;
  border: solid rgb(34, 126, 231);
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}