div {
  width:400px;
  height: 400px;;
  background-image: url(../img/pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:50% 50%;
  /* border:1px solid silver */
}